body {
    background-image: url(../images/greek-vase.png);
    font-family: 'Montserrat', sans-serif;
    padding: 20px 30px 20px 30px;
}

h1 {
    font-size: 40px;
    font-family: 'Alice', serif;
    margin-bottom: 10px;
}

#topics {
    margin-bottom: 15px;
}

button {
    margin: 5px;
    background-color: green;
    border-radius: 4px;
    color: white;
    padding: 10px;
    border: 0px;
}

p {
    margin-bottom: 15px;
    display: inline-block;
}

#gifsHereDiv {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}